@import url("/css/style.css");

body {
    text-transform: uppercase;
}


#form {
    background-color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 3em auto;


}


.in-cart img {
    width: auto;
    height: 80px;
    margin: auto 2em;
}
.in-cart {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 0.5em;
    height: 110px;
}

.cart-item {
    margin: 1em;
}


.shipping-address, .card-details, .personal-details {
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
}

.card-details {
    margin-bottom: 30px;
}

#total-price {
    text-align: right;
    font-size: 2em;
    text-transform: uppercase;
    margin: 20px 0px;
}



.item-price {
    font-size: 1.7em;
    color: #020202b7;
}


#complete-order-cta {
    background-color: #0A3641;
    color: #fff;
    display: block;
    max-width: 140px;
    text-align: center;
    font-size: 1.4em;
    padding: 12px 80px;
    text-transform: uppercase;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    
}


.remove-item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(145, 49, 49);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2em 1em 2em auto;
    padding: 1em 3em;
    font-size: 0.9em;
    text-decoration: underline;

}


.cart-summary {
    font-size: 1.6em;
    color: #000000;
    text-align: right;
    margin-right: 0.5em;
    text-transform: capitalize;
}


.item-details {
    text-align: left;
}

.continue-shopping {
    background: linear-gradient(180deg, #0A3641, #54808b) ;
    color: #fff;
    padding: 1em 1.7em;
    border-radius: 0.5em;
    font-size: 1.5em;   
}

.continue-shopping:hover {
    background: linear-gradient(200deg, #20525e, #94b9c3) ;

}


.empty-cart h2 {
    margin: 1em auto 2em auto;
    font-size: 2em;
}


.empty-cart {
    text-align: center;
}