

#product-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
}

#product-details img {
    flex: 1;
    max-width: 300px; 
    margin: 2em 3em 2em 2em; 
    border-radius: 8px;
    
}


#product-details-text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
}

#product-details p {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
    max-width: 60%;
    margin-bottom: 4em;
}

#product-details p strong {
    color: #000;
}

#product-details .price {
    font-size: 1.5em;
    font-weight: bold;
    color: #147632; 
    margin-bottom: 20px;
    margin-left: 0;
}

.add-to-cart {
    padding: 15px 25px;
    width: 30em;
    background-color: #0A3641;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 6em;
    text-transform: uppercase;
}

#product-details button:hover {
    background-color: #366b79;
}

#size-select {
    max-width: 5em;
    height: 2em;
}

